/* your styles go here */

.box-image-text .image {
    min-height: 200px;
    max-height: 200px;
}

.box-simple {
    min-height: 230px;
}

.box-simple h3 {
    font-family: "Domine", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.box-simple p {
}

.heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
    font-family: "Domine", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.navbar ul.nav > li > a {
    font-family: "Domine", Helvetica, Arial, sans-serif;
    text-transform: none;
}

#heading-breadcrumbs h1 {
    font-family: "Domine", Helvetica, Arial, sans-serif;
    text-transform: none;
}

